In [2]:
import os

os.getcwd()

'c:\\Users\\USER\\TIL'

In [2]:
import pandas as pd

bike_data = pd.read_csv('./bike_usage_0.csv', encoding='ANSI')

In [3]:
bike_data

,Date_out,Time_out,Station_no_out,Station_out,Membership_type,Gender,Age_Group,Momentum,Station_no_in,Station_in,Date_in,Bike_no,Carbon_amount,Distance,Duration
0,2019-10-03,0,129,129. 신촌역(2호선) 6번출구 옆,정기권,NaN,~10대,28.27,122,신성기사식당 앞,2019-10-03 오전 12:20:42,SPB-15000,0.24,1050,5
1,2019-10-03,0,150,150. 서강대역 2번출구 앞,정기권,NaN,20대,146.46,2065,서울시여성가족재단,2019-10-03 오전 1:16:32,SPB-13087,1.32,5690,32
2,2019-10-03,0,240,240. 문래역 4번출구 앞,정기권,NaN,20대,37.13,245,삼성생명 당산사옥 앞,2019-10-03 오전 12:18:21,SPB-23229,0.29,1250,10
3,2019-10-03,0,623,623. 서울시립대 정문 앞,정기권,NaN,20대,134.62,1346,길음8골어린이공원 옆,2019-10-03 오전 1:15:39,SPB-14181,1.21,5230,24
4,2019-10-03,0,633,633. 청량리 기업은행 앞,정기권,NaN,20대,85.83,568,청계8가사거리 부근,2019-10-03 오전 12:17:58,SPB-15221,0.67,2890,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36590,2019-10-05,23,130,130. 신촌역(2호선) 7번출구 앞,일일권,M,30대,110.06,432,마포중앙도서관,2019-10-06 오전 12:06:20,SPB-14263,0.9,3860,23
36591,2019-10-05,23,2215,2215. 반포종합운동장 입구,일일권,M,30대,153.15,2221,하나은행 방배동지점 앞,2019-10-06 오전 12:27:55,SPB-17557,1.38,5950,32
36592,2019-10-05,23,654,654. 전농동 텃골공원,일일권,M,40대,65.12,654,전농동 텃골공원,2019-10-06 오전 12:09:12,SPB-18226,0.59,2530,17
36593,2019-10-05,23,119,119. 서강나루 공원,일일권,M,40대,78.76,3102,연희삼거리,2019-10-05 오후 11:44:39,SPB-21624,0.71,3060,17
36594,2019-10-05,23,630,630. 동대문구 보건소,단체권,NaN,20대,22.83,660,동의보감타워,2019-10-05 오후 11:27:13,SPB-02538,0.14,620,5

In [4]:
print(bike_data)

         Date_out  Time_out  Station_no_out           Station_out  \
0      2019-10-03         0             129  129. 신촌역(2호선) 6번출구 옆
1      2019-10-03         0             150      150. 서강대역 2번출구 앞
2      2019-10-03         0             240       240. 문래역 4번출구 앞
3      2019-10-03         0             623       623. 서울시립대 정문 앞
4      2019-10-03         0             633       633. 청량리 기업은행 앞
...           ...       ...             ...                   ...
36590  2019-10-05        23             130  130. 신촌역(2호선) 7번출구 앞
36591  2019-10-05        23            2215      2215. 반포종합운동장 입구
36592  2019-10-05        23             654         654. 전농동 텃골공원
36593  2019-10-05        23             119          119. 서강나루 공원
36594  2019-10-05        23             630         630. 동대문구 보건소

      Membership_type Gender Age_Group Momentum  Station_no_in    Station_in  \
0                 정기권    NaN      ~10대    28.27            122      신성기사식당 앞
1                 정기권    NaN       20대   146.46           2065     서울시여성가족재단
2                 정기권    NaN       20대    37.13            245   삼성생명 당산사옥 앞
3                 정기권    NaN       20대   134.62           1346   길음8골어린이공원 옆
4                 정기권    NaN       20대    85.83            568    청계8가사거리 부근
...               ...    ...       ...      ...            ...           ...
36590             일일권      M       30대   110.06            432       마포중앙도서관
36591             일일권      M       30대   153.15           2221  하나은행 방배동지점 앞
36592             일일권      M       40대    65.12            654      전농동 텃골공원
36593             일일권      M       40대    78.76           3102         연희삼거리
36594             단체권    NaN       20대    22.83            660        동의보감타워

                      Date_in    Bike_no Carbon_amount  Distance  Duration
0      2019-10-03 오전 12:20:42  SPB-15000          0.24      1050         5
1       2019-10-03 오전 1:16:32  SPB-13087          1.32      5690        32
2      2019-10-03 오전 12:18:21  SPB-23229          0.29      1250        10
3       2019-10-03 오전 1:15:39  SPB-14181          1.21      5230        24
4      2019-10-03 오전 12:17:58  SPB-15221          0.67      2890        11
...                       ...        ...           ...       ...       ...
36590  2019-10-06 오전 12:06:20  SPB-14263           0.9      3860        23
36591  2019-10-06 오전 12:27:55  SPB-17557          1.38      5950        32
36592  2019-10-06 오전 12:09:12  SPB-18226          0.59      2530        17
36593  2019-10-05 오후 11:44:39  SPB-21624          0.71      3060        17
36594  2019-10-05 오후 11:27:13  SPB-02538          0.14       620         5

[36595 rows x 15 columns]

In [5]:
bike_data.isnull()

,Date_out,Time_out,Station_no_out,Station_out,Membership_type,Gender,Age_Group,Momentum,Station_no_in,Station_in,Date_in,Bike_no,Carbon_amount,Distance,Duration
0,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36590,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36591,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36592,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36593,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
36594,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False

In [6]:
bike_data.isnull().sum()

Date_out               0
Time_out               0
Station_no_out         0
Station_out            0
Membership_type        0
Gender             18333
Age_Group              0
Momentum               0
Station_no_in          0
Station_in             0
Date_in                0
Bike_no                0
Carbon_amount          0
Distance               0
Duration               0
dtype: int64

In [7]:
population = pd.read_csv('./population_by_Gu.txt')